* {
	font-family: arial;
	font-size: inherit;
}

html {
	position: relative;
}

body {
	background: #fafafa;
	margin: 0;
}

body, html {
	height: 100%;
}

header {
	display: inline;
}

header .banner_image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("header.gif");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.auction_nav {
	overflow: hidden;
	background-color: #009c82;
}

.auction_nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 1.5rem;
	text-decoration: none;
	font-size: 17px;
}

.auction_nav a:hover {
	background-color: #ddd;
	color: black;
}

.auction_nav .search-container {
	float: right;
}

.auction_nav input[type=text] {
	margin-top: 0.9rem;
	border: none;
}

.auction_nav .search-container button {
	float: right;
	padding: 0.5rem;
	margin-top: 0.9rem;
	margin-right: 1.5rem;
	background: #005066;
	color: white;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.auction_nav .search-container button:hover {
	background: #ccc;
}

@media screen and (max-width: 825px) {
	.auction_nav .search-container {
		float: none;
	}
	.auction_nav a, .auction_nav input[type=text], .auction_nav .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.auction_nav input[type=text] {
		border: 1px solid #ccc;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.row > .auction_box {
	background: white;
	margin: 1.5%;
	flex: 0 0 30%;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.auction_bid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.auction_bid_price:before {
	content: "\20AC";
}

.auction_bid_price,
.auction_bid_time {
	flex-direction: column;
	text-align: center;
	width: 50%;
	padding: 1rem 0;
}

.auction_title {
	font-size: 32px;
	margin: 1rem;
	display: block;
	color: black;
	text-decoration: none;
}
.error_message {
	color: red;
	margin-bottom: 1rem;
}
.input__error__message {
	color: red;
	margin-bottom: .5rem;
}

p.auction_description {
	padding: 0 1rem;
}

h1.title {
	text-align: center;
	width: 100%;
	font-size: 32px;
}

.hidden {
	display: none;
}

.auction_detail {
	height: 100%;
	margin-top: 4rem;
	margin-bottom: 6rem;
	display: flex;
	flex-wrap: wrap;
	width: 65rem;
	background-color: white;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.auction_detail > .auction_column {
	flex: 0 0 50%;
	position: relative;
}

.auction_column > img{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	max-width: 100%;
}

.auction_detail_bid_list,
.auction_detail_bid_list ul {
	width: 100%;
	margin: 0;
}

.auction_detail_bid_list h2 {
	padding: 0 1rem;
	font-size: 24px;
}

.auction_detail_bid_list {
	display: flex;
	flex-flow: wrap;
	height: 20rem;
	overflow: scroll;
	position: absolute;
	bottom: 0;
	margin: 0;
}

.auction_detail_bid_list .auction_detail_bid {
	display: flex;
	width: 100%;
	height: 2rem;
}

.auction_detail_bid_price,
.auction_detail_bid_user,
.auction_detail_bid_time {
	flex: 0 0 30%;
	line-height: 2rem;
}

.auction_bid_amount {
	float: left;
}

.auction_bid_button {
	float: left;
}

.auction_detail form {
	padding: 1rem;
}

.search_form,
.auction_form,
.register_form,
.login_form {
	background-color: white;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	padding: 1.5rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	width: 50%;
}

.search_form {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 80%;
}

form input.bad {
	border-color: red;
}

input[type=text],
input[type=password] {
	color: gray;
	padding: 0.5rem;
	font-size: 17px;
	border: 1px solid grey;
}

.register_form input[type=text],
.register_form input[type=password],
.login_form input[type=text],
.login_form input[type=password] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0.5rem 0 1rem 0;}

.login_form a {
	display: block;
	margin-top: 1.5rem;
}

input[type=submit] {
	background-color: #005066;
	color: white;
	padding: 0.5rem;
	font-size: 17px;
	border: 1px solid #005066;
}

table {
	width: 50%;
}

table th {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	background-color: #009c82;
	color: white;
}

table tr:nth-child(even){ background-color: #f2f2f2; }

table tr:hover { background-color: #ddd; }

table td, table th {
	border: 1px solid #ddd;
	padding: 0.5rem;
	text-align: center;
}

table i {
	cursor: pointer;
}
