<script>
	import { Router, Route } from "svelte-routing";
	import Header from "./routes/Header.svelte";
	import Home from "./routes/Home.svelte";
	import Bids from "./routes/Bids.svelte";
	import Administration from "./routes/Administration.svelte";
	import Login from "./routes/Login.svelte";
	import Logout from "./routes/Logout.svelte";
	import Register from "./routes/Register.svelte";
	import Auction from "./routes/Auction.svelte";

	export let url = "";
</script>

<Router url="{url}">
	<Header />
	<main>
		<!--<Route path="blog/:id" component="{BlogPost}" />
		<Route path="blog" component="{Blog}" />-->
		<Route path="/" component="{Home}" />
		<Route path="bids" component="{Bids}" />
		<Route path="administration" component="{Administration}" />
		<Route path="login" component="{Login}" />
		<Route path="logout" component="{Logout}" />
		<Route path="register" component="{Register}" />
		<Route path="auction/:id" component="{Auction}" />
	</main>
</Router>
