<script>
  import { token } from '../stores'

  let products = []
  let name = ''
  let category = ''
  let description = ''
  let endDate = ''
  let currentAuction = null

  const editAuction = product => {
    currentAuction = product
  }

  const loadAuctions = async () => {
    const response = await fetch(`http://localhost:3000/products`, {
      method: 'GET',
      headers: {
        Authorization: `Bearer ${$token}`
      }
    })
    const body = await response.json()

    if (!body.error) {
      products = []

      body.message.forEach(product => {
        if (product) {
          let date = ''
          if (Number(product.auctionEnds) !== 0) {
            const dateObj = new Date()
            dateObj.setTime(product.auctionEnds)
            date = `${dateObj.getFullYear()}-${dateObj.getMonth()}-${dateObj.getDate()}`
          }

          products.push({
            name: product.name,
            category: product.category,
            date,
            description: product.info,
            endTime: product.auctionEnds,
            id: product.productId
          })
        }
      })
    }
  }

  const deleteAuction = async id => {
    await fetch(`http://localhost:3000/products`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${$token}`
      },
      body: JSON.stringify({
        productId: id
      })
    })

    loadAuctions()
  }

  loadAuctions()

  const auctionAdd = async () => {
    await fetch(`http://localhost:3000/products`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${$token}`
      },
      body: JSON.stringify({
        name,
        category,
        info: description,
        auctionEnds: endDate
      })
    })

    loadAuctions()
  }

  const auctionEdit = async () => {
    await fetch(`http://localhost:3000/products`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${$token}`
      },
      body: JSON.stringify({
        productId: currentAuction.id,
        name: currentAuction.name,
        category: currentAuction.category,
        info: currentAuction.description,
        auctionEnds: currentAuction.endTime,
        buyer: null
      })
    })

    loadAuctions()
  }
</script>

<div class="row">
  <h1 class="auction_title">Add, update or delete auctions</h1>
</div>
<div class="row">
  <table>
    <tr>
      <th>Name</th>
      <th>End time</th>
      <th>Actions</th>
    </tr>
    {#each products as product}
      <tr>
        <td>{product.name}</td>
        <td>{product.date ? product.date : 'No end time'}</td>
        <td>
          <i class="fa fa-pencil" on:click={editAuction(product)}></i>
          <i class="fa fa-trash" on:click={deleteAuction(product.id)}></i>
        </td>
      </tr>
    {/each}
  </table>
</div>

{#if currentAuction}
  <div class="row editAuction">
    <form class="auction_form" id="editAuctionForm" on:submit|preventDefault={auctionEdit}>
      <h1 class="auction_title">Edit an auction</h1>
      <input type="text" placeholder="Name" name="name" bind:value={currentAuction.name} />
      <input type="text" placeholder="Category" name="category" bind:value={currentAuction.category} />
      <input type="text" placeholder="Description" name="description" bind:value={currentAuction.description} />
      <input type="text" placeholder="End time" name="end_time" bind:value={currentAuction.endTime} />
      <input type="submit" value="Save" />
    </form>
  </div>
{/if}

<div class="row">
  <form class="auction_form" on:submit|preventDefault={auctionAdd}>
    <h1 class="auction_title">Add an auction</h1>
    <input type="text" placeholder="Name" name="name" bind:value={name} />
    <input type="text" placeholder="Category" name="category" bind:value={category} />
    <input type="text" placeholder="Description" name="description" bind:value={description} />
    <input type="text" placeholder="End time" name="end_time" bind:value={endDate} />
    <input type="submit" value="Add" />
  </form>
</div>
