<script>
  import { token } from '../stores'

  export let id;
  let bidSum = 0;
  let auction = null;
  let bids = [];
  let error;

  const loadAuction = async () => {
    const response = await fetch(`http://localhost:3000/products/${id}`, {
      method: 'GET'
    })
    const body = await response.json()

    if (body.success) {
      auction = body.message
    }
  }

  loadAuction()

  const loadBids = async id => {
    const response = await fetch(`http://localhost:3000/bids/product/${id}`, {
      method: 'GET'
    })
    const body = await response.json()

    body.message.sort((a, b) => {
      return b.amount - a.amount
    })

    bids = []
    body.message.forEach(bid => {
      const date = new Date(bid.createdAt)
      bids.push({
        amount: bid.amount,
        userLogin: bid.userLogin || 'Unknown',
        createdAt: bid.createdAt
      })

      bids = bids
    })
  }

  loadBids(id)

  const getTime = timestamp => {
     const date = new Date(timestamp)
     return `${date.getDate()}-${date.getMonth() + 1} ${date.getHours()}:${date.getMinutes()}`
  }

  const placeBid = async () => {
    error = false
    const response = await fetch(`http://localhost:3000/bids`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${$token}`
      },
      body: JSON.stringify({
        productId: id,
        amount: bidSum
      })
    })
    const body = await response.json()
    if (body.success) {
      loadBids(id)
      return
    }

    error = body.message
  }
</script>

<div class="row">
  {#if auction}
    <section class="auction_detail">
      <div class="auction_column">
        <img src="product.jpeg" alt="" />
      </div>
      <div class="auction_column">
        <h1 class="auction_title">{auction.name}</h1>
        <p class="auction_description">
          {auction.info}
        </p>
        {#if $token}
          {#if error}
            <p class="error_message">{error}</p>
            <br />
          {/if}
          <form on:submit|preventDefault={placeBid}>
            <input class="auction_bid_amount" type="number" placeholder="amount" bind:value={bidSum} />
            <input class="auction_bid_button" type="submit" value="Bid" />
          </form>
        {:else}
          <p class="auction_description">Sign in to place bids</p>
        {/if}
        <div class="auction_detail_bid_list">
          <h2>Bids</h2>
          <ul>
            {#each bids as bid}
            <li class="auction_detail_bid">
              <span class="auction_detail_bid_price">{bid.amount}</span>
              <span class="auction_detail_bid_user">{bid.userLogin ? bid.userLogin : 'Unknown'}</span>
              <span class="auction_detail_bid_time">{getTime(bid.createdAt)}</span>
            </li>
            {/each}
          </ul>
        </div>
      </div>
    </section>
  {/if}
</div>

<style>
  p.error_message {
      color: red;
      padding: 0 1rem;
  }
</style>