<script>
  import { token } from '../stores'

  let bids = []
  let bidsUnParsed = []

  const isBestBid = (bid, bids) => {
    const userBidAmount = bid.amount
    let result = true

    bids.forEach(bidFromArray => {
      if (bidFromArray && bidFromArray.productId === bid.productId && bid.bidId !== bidFromArray.bidId && Number(bidFromArray.amount) > Number(userBidAmount)) {
        result = false
      }
    })

    return result
  }

  const getTime = timestamp => {
    const date = new Date(timestamp)
    return `${date.getDate()}-${date.getMonth() + 1} ${date.getHours()}:${date.getMinutes()}`
  }

  const deleteBid = async id => {
    await fetch(`http://localhost:3000/bids`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${$token}`
      },
      body: JSON.stringify({
        bidId: id
      })
    })

    loadBids()
  }

  const loadBids = async () => {
    const response = await fetch(`http://localhost:3000/bids`, {
      method: 'GET',
      headers: {
        Authorization: `Bearer ${$token}`
      }
    })
    const body = await response.json()

    if (body.success) {
      bidsUnParsed = body.message
      bids = []

      for (const bid of bidsUnParsed) {
        if (bid && bid.productId) {
          const response1 = await fetch(`http://localhost:3000/products/${bid.productId}`, {
            method: 'GET'
          })
          const body1 = await response1.json()

          let name
          if (body1.success && body1.message) {
            name = body1.message.name
          }

          bids.push({
            id: bid.bidId,
            name,
            amount: bid.amount,
            createdAt: getTime(bid.createdAt),
            bestBid: isBestBid(bid, bidsUnParsed)
          })
          bids = bids
        }
      }
    }
  }

  loadBids()
</script>

<div class="row">
  <h1 class="auction_title">My bids</h1>
</div>
<div class="row">
  <table style="margin-bottom: 5rem;">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Time</th>
      <th>Is best bid?</th>
      <th>Remove</th>
    </tr>
    {#each bids as bid}
      <tr>
        <td>{bid.name}</td>
        <td>{bid.amount}</td>
        <td>{bid.createdAt}</td>
        <td>{bid.bestBid ? 'Yes' : 'No'}</td>
        <td>
          <button class="fa fa-trash" on:click={deleteBid(bid.id)}></button>
        </td>
      </tr>
    {/each}
  </table>
</div>
