<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
  import { Link } from "svelte-routing"
  import { token, admin } from '../stores'

  let search = ''

  const url_string = window.location.href
  const url = new URL(url_string)
  const nameSearch = url.searchParams.get('nameSearch')

  if (nameSearch) {
    search = nameSearch
  }

  export let location
  let isPartiallyCurrentPath = (location, href) => location.pathname.substring(0, href.length) === href
  let isCurrentPath = (location, href) => location.pathname === href
  let isActivePath = (location, href) => isCurrentPath(location, href) || isPartiallyCurrentPath(location, href)
  let paths = {
    home: '/',
    myBids: '/bids',
    administration: '/administration',
    logout: '/logout',
    login: '/login',
    register: '/register'
  }
</script>

<header>
  <div class="banner_image"></div>
</header>
<nav class="auction_nav">
  <Link to="{paths.home}">Home</Link>
  {#if $token}
    <Link to="bids">My bids</Link>
  {/if}
  {#if $admin}
    <Link to="administration">Administration</Link>
  {/if}
  {#if $token}
    <Link to="logout">Logout</Link>
  {:else}
    <Link to="login">Login</Link>
    <Link to="register">Register</Link>
  {/if}

  <div class="search-container">
    <form action="/">
      <input type="text" placeholder="Search.." name="nameSearch" bind:value={search}>
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</nav>

<style>
    :global(a[aria-current="page"]) {
        background-color: #005066;
        color: white;
    }
</style>