<script>
  import { Router, link } from "svelte-routing"
  import queryString from 'query-string'

  const PER_PAGE = 3
  let products = []
  let productsCache = []
  let pages = 1
  let currentPage = 1

  const url_string = window.location.href
  const url = new URL(url_string)

  let params = {
    nameSearch: url.searchParams.get('nameSearch'),
    categorySearch: url.searchParams.get('categorySearch'),
    infoSearch: url.searchParams.get('infoSearch')
  }

  let nameSearch = params.nameSearch
  let categorySearch = params.categorySearch
  let infoSearch = params.infoSearch

  const loadForPage = async page => {
    currentPage = page
    let from = page * PER_PAGE - PER_PAGE
    let to = page * PER_PAGE

    products = []

    for (let i = 0; i < productsCache.length; i++) {
      if (i + 1 > from && i + 1 <= to) {
        const item = productsCache[i]

        if (!item) continue
        let date = ''
        if (Number(item.auctionEnds) !== 0) {
          const dateObj = new Date()
          dateObj.setTime(item.auctionEnds)
          date = `${dateObj.getFullYear()}-${dateObj.getMonth()}-${dateObj.getDate()}`
        }

        const response1 = await fetch(`http://localhost:3000/bids/product/${item.productId}`, {
          method: 'GET'
        })
        const body1 = await response1.json()

        let highestBid = 0

        body1.message.forEach(bid => {
          if (Number(bid.amount) > highestBid) {
            highestBid = Number(bid.amount)
          }
        })

        products.push({
          name: item.name,
          id: item.productId,
          info: item.info,
          highestBid,
          date
        })
        products = products
      }
    }
  }

  const loadProducts = async () => {
    const response = await fetch(`http://localhost:3000/products?${queryString.stringify(params)}`, {
      method: 'GET'
    })
    const body = await response.json()

    try {
      pages = Math.round(body.message.length / PER_PAGE)
    } catch {}

    productsCache = body.message
    loadForPage(1)
  }

  loadProducts()
</script>

<div class="row">
  <div class="row">
    <form class="search_form" action="/" method="GET">
      <h1 class="auction_title">Search for a product</h1>
      <input type="text" placeholder="Name" name="nameSearch" bind:value={nameSearch}>
      <input type="text" placeholder="Category" name="categorySearch" bind:value={categorySearch}>
      <input type="text" placeholder="Description" name="infoSearch" bind:value={infoSearch}>
      <input type="submit" value="Search" />
    </form>
  </div>
  {#each products as product}
    <section class="auction_box">
      <Router>
        <a class="auction_title" href="auction/{product.id}" use:link>{product.name}</a>
      </Router>
      <p class="auction_description">
        {product.info}
      </p>
      <div class="auction_bid">
        <span class="auction_bid_price">{product.highestBid}</span>
        <span class="auction_bid_time">{product.date}</span>
      </div>
    </section>
  {/each}

  <div id="pages">
    {#each Array(pages) as _, page}
      <a href="#" on:click={() => {loadForPage(page + 1)}} class:active={page + 1 === currentPage}>{page + 1}</a>
    {/each}
  </div>
</div>

<style>
    #pages {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    #pages a {
        text-decoration: none;
        margin-right: 10px;
        color: black;
    }

    #pages a.active {
        font-weight: bold;
    }
</style>