<script>
  import { Link, navigate } from "svelte-routing"
  import { token, user, admin } from '../stores'

  let password = '';
  let login = '';
  let error;

  const handleLogin = async () => {
    const response = await fetch('http://localhost:3000/auth', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json'
      },
      body: JSON.stringify({ login, password })
    })

    const body = await response.json()

    if (!body.success) {
      error = body.message
      return
    }

    localStorage.setItem('token', body.message.token)
    localStorage.setItem('admin', body.message.user.isAdmin)
    token.set(body.message.token)
    user.set(body.message.user)
    admin.set(body.message.user.isAdmin)
    navigate('/')
  }
</script>

<div class="row">
  <form class="login_form" on:submit|preventDefault={handleLogin}>
    <h1 class="auction_title">Login</h1>
    {#if error}
      <span class="error_message">{error}</span>
      <br />
    {/if}

    <label for="username">Username</label>
    <input type="text" id="username" placeholder="Username" bind:value={login} />

    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password" bind:value={password} />
    <input type="submit" value="Login"/>
    <Link to="register">Register</Link>
  </form>
</div>
