<script>
  import {token, user} from "../stores";
  import {navigate} from "svelte-routing";

  let login = '';
  let name = '';
  let surname = '';
  let email = '';
  let password = '';
  let repeatPassword = '';
  let error = false;

  const validateEmail = email => {
    const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    return re.test(String(email).toLowerCase())
  }

  const hasNumber = string => {
    return /\d/.test(string)
  }

  const handleRegister = async () => {
    error = false
    if (password !== repeatPassword) {
      return
    }
    if (!validateEmail(email) || (!email.includes('.nl') && !email.includes('.com'))) {
      return
    }
    if (password.toLowerCase() === password || password.length < 6 || !hasNumber(password)) {
      return
    }
    if (login.length < 3 || name.lenth < 2 || surname.length < 2) {
      return
    }
    const response = await fetch('http://localhost:3000/users', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json'
      },
      body: JSON.stringify({
        login,
        password,
        name,
        surname,
        email
      })
    })
    const body = await response.json()

    if (!body.success) {
      error = body.message
      return
    }

    localStorage.setItem('token', body.message.token)
    token.set(body.message.token)
    user.set(body.message.user)
    navigate('/')
  }
</script>

<div class="row">
  <form class="register_form" on:submit|preventDefault={handleRegister}>
    <h1 class="auction_title">Register</h1>
    {#if error}
      <span class="error_message">{error}</span>
      <br />
    {/if}
    {#if !validateEmail(email) || (!email.includes('.nl') && !email.includes('.com'))}
      <span class="error_message">Invalid e-mail address</span>
      <br />
    {/if}
    {#if password.toLowerCase() === password || password.length < 6 || !hasNumber(password)}
      <span class="error_message">Password must be from 6 characters, contain at least 1 number and capital letter</span>
      <br />
    {/if}
    {#if login.length < 3 || name.lenth < 2 || surname.length < 2}
      <span class="error_message">All inputes must be filled</span>
      <br />
    {/if}

    <label for="username">Login</label>
    <input type="text" placeholder="Username" id="username" name="username" bind:value={login} />

    <label for="username">Name</label>
    <input type="text" placeholder="Username" id="name" name="username" bind:value={name} />

    <label for="username">Surname</label>
    <input type="text" placeholder="Username" id="surname" name="username" bind:value={surname} />

    <label for="email">Email</label>
    <input type="text" placeholder="Email" id="email" name="email" bind:value={email} />

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password" bind:value={password} />

    <label for="password_repeat">Repeat Password</label>
    <input type="password" placeholder="Password repeat" id="password_repeat" name="password_repeat" bind:value={repeatPassword} />
    {#if password !== repeatPassword}
      <span class="input__error__message">Passwords must match.</span>
    {/if}

    <input type="submit" value="Register"/>
  </form>
</div>
